@page
@model Flockbuster.Pages.ProfilePageModel
@{
}

<div class="ProfileOuterBox">
    <div class="ProfileBox">
        <div id="ProfileInfoBox">
            <div>
                <h4>Profile Information</h4>
                <div>
                    <label>UserID: @Model.User.accountID</label>
                </div>
                <div>
                    <label>Name: @Model.User.firstname @Model.User.lastname</label>
                </div>
                <div>
                    <label>Type: @Model.User.Type</label>
                </div>
                <div>
                    <label>Balance: @(Model.User.balance) DKK</label>
                </div>
            </div>
            <div>
                <img id="PP" src="./Images/UserImg/@(Model.User.accountID).jpg" />
            </div>
        </div>
        <div id="BottumProfileBox">
            <div id="ListMyLoans">
                <h5>Your rental history</h5>
                <table class="ProfileTable">
                    <thead class="ProfileTableHead">
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:80px">Price</th>
                            <th style="width:145px">Rentdate</th>
                            <th style="width:145px">Returndate</th>
                        </tr>
                    </thead>
                </table>
                <div class="ProfileBodyBox">
                    <table>
                        <tbody class="ProfileTableBody">
                            @if (!Model.User.History.Any())
                            {
                                <tr>
                                    <td style="width:599px">No items on list</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var rentalObject in Model.User.History)
                                {
                                    <tr>
                                        <td style="width:50px;">@rentalObject.ItemID</td>
                                        <td style="width:100px;">@rentalObject.Price DKK</td>
                                        <td style="width:180px;">@rentalObject.RentDate</td>
                                        <td style="width:181px;">@rentalObject.ReturnDate</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="ProfileButtons">
        <form method="post" asp-page-handler="UpdateBalance">
            <div>
                <input asp-for="Balance" placeholder="Add balance [10K limit]" />
                <button class="AddBalanceBtn" type="submit">Confirm</button>
            </div>
        </form>

        <form method="post" asp-page-handler="NameChange">
            <div>
                <input asp-for="Firstname" placeholder="New firstname" />
                <input asp-for="Lastname" placeholder="New Lastname" />
                <button class="AddBalanceBtn" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
